.br6{border-radius:6px;}
.ff_ubuntu{font-family:"Ubuntu";}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.pb10{padding-bottom:10px;}
.pb21{padding-bottom:21px;}
.pl10{padding-left:10px;}
.pl21{padding-left:21px;}
.pr10{padding-right:10px;}
.pr21{padding-right:21px;}
.pt10{padding-top:10px;}
.pt21{padding-top:21px;}
.head{
	height: 48px;
width: 1440px;
left: 0px;
top: 48px;
border-radius: 0px;

}